
/* svg繪圖區外框 */
/* svg{
    border: 1px solid yellow;
} */

/* 邊線顏色 */
body{
    display: flex;
}

.axis .domain{
    stroke: greenyellow;
}

/* X軸線的顏色 */
.x line{
    stroke: rgb(255, 255, 255);
}


/* interactive 詳細資訊視窗設定 */

.tooltip{
    position: fixed;
    opacity: 0;
    pointer-events: none; /*關閉pointer-event避免出現連結或其他預設行為*/
    background: #eee;
    max-width: 200px;
}

.tip-header{
    border-bottom: 2px solid white;
    padding: 0.9rem 1rem;
}

.tip-body{
    padding: 0.2rem 0;
}


h3,h4{
    font-size: 0.9rem;
    color:#555;
    margin: 0;
}

h4{
    font-weight: normal;
}

.tip-info{
    margin: 0;
    padding: 0.3rem 1em;
    font-size: 0.8em;
}

/*偶數元素設定不同背景樣式*/
.tip-info:nth-of-type(even){
    background: #e0e0e0;
}


/* 以下為分布圖用 */
.scatter-chart{
    display: inline;
}


.selected-container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;


}

.selected-header{
    background: #f0f0f0;
    color: #777;
    padding: 0.5rem 2rem;
    text-align: right;
}

.selected-body{
    overflow: auto;
    font-size: 0.8em;
    cursor: default;

}


.axis .domain{
    /*軸線的顏色*/
    stroke: #bbb;
}

.axis .tick line{
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4,2;
}



/* 顯示內容樣式 */
.selected-title{
    font-weight: bold;
}

.selected-element{
    margin: 0.5em;
    padding: 0.5em;
    transition: background-color 200ms ease;
}

.selected-element:hover{
    background-color: #f0f0f0;
}


/* 資料更新 */
#image1 #image2 #image3{
    width: 30%;
    height: 200px;
    border: 1px solid gray;
    display: inline;
}